@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* background-image: linear-gradient(#3b1566, #5f4da8); */
  background-image: linear-gradient(#00b3d3, #0e57e0);
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #d6d6ea;
}

.container-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

img {
  border-radius: 10%;
  width: 16rem;
  filter: drop-shadow(0 0 5em #61dafb);
}

.capitulo {
  font-size: 2rem;
}

.nome-autor {
  font-size: 1rem;
}

button {
  background-color: inherit;
  color: inherit;
  border: none;
  cursor: pointer;
}

.music-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#informacoes-faixa {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0 1rem 0;
  font-size: 1.5rem;
  gap: 1rem;
}


#anterior, #proximo {
  font-size: 3rem;
}

#play-pause {
  font-size: 3rem;
}

#container-botoes {
  width: 100%;
  display: flex;
  justify-content: space-around;
}